@import './assets/fonts/font.css';

*{ 
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  font-family: 'AvenirLTStd-Roman', sans-serif !important;
  background: #fff;
  line-height: normal;
  color: '#000'
}

a, a:focus, a:hover{
  text-decoration: none;
  display: block;
}

p{
  margin:0
}

ul{
  margin:0;
  padding:0;
  list-style: none;
}

.slick-next::before, .slick-prev::before{
  color: black;
}

.react-multi-carousel-track {
  display: flex;
}